/*
Page container
*/
.wrapper{
	width:976px;
	margin:0 auto;
	padding:0 12px;
}

/*------------------------------------*\
	GRIDS
\*------------------------------------*/
/*
Most frameworks rely on class="end" or similar to remove the margin from the last column in a row of grids. We don't want to do that so we use a combination of margin- and negative margin-left. It's clever...
We also allow you to use grid items as stand alone columns or in a series of columns. To use a series just wrap them all in <div class="grids">...</div>
*/
.grids{
	width:1000px;
	clear:both;
	margin:0 0 0 -24px;
	list-style:none; /* So we can make grids out of lists. */
}

/*
Here we are using an attribute selector to detect the string 'grid-' in an element's class.
This works by assuming that anything we call grid- we also want to be a grid item. It means less code and less for you to remember!

Ensure any grid item's FIRST class is a grid- class. e.g.
VALID: class="grid-4 text-centre"
INVALID: class="left grid-4"
*/
[class^="grid-"]{
	float:left;
	margin:0 24px 0 0;
}
.grids [class^="grid-"]{
	margin:0 0 0 24px;
}

/*
Allow nested grids:
*/
[class^="grid-"] .grids{
	width:auto;
	margin:0 -24px;
}

.grid-1{ width:76px }
.grid-2{ width:176px }
.grid-3{ width:276px }
.grid-4{ width:376px }
.grid-5{ width:476px }
.grid-6{ width:576px }
.grid-7{ width:676px }
.grid-8{ width:776px }
.grid-9{ width:876px }
.grid-10{ width:976px; margin:0; }
